{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
{% include "@FOSUser/Profile/edit_content.html.twig" %}
    {%  if is_granted('ROLE_LEKARZ') %}
        <li>
            <a href="{{  path('lekarz_profile_edit',{id:user.idLekarz.id}) }}">Profil Lekarza</a>
        </li>
    {% endif %}
    {% if is_granted('ROLE_PACJENT') %}
    <li>
        <a href="{{ path('pacjent_profile_edit',{id:user.idPacjent.id}) }}">Profil Pacjenta</a>
    </li>
    {% endif %}
{% endblock fos_user_content %}
