{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
{% include "@FOSUser/Profile/edit_content.html.twig" %}

    {% if is_granted('ROLE_PACJENT') %}
    <li>
        <p>Profil Pacjenta: {{ user.idPacjent }}</p>
    </li>
    {% endif %}
{% endblock fos_user_content %}
