<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pacjent<span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="{{ path('wizyta_new') }}">Umów się na wizytę</a></li>
    </ul>
</li>
