{% extends '::base.html.twig' %}
{% block body %}
<h1>Welcome to the Kalendarz:index page</h1>
<div class="my_calendar">
    {% include '::calendar.html.twig' %}
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/calendar-settings-godz-przyj.js') }}"></script>
{% endblock %}