{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
{% include "@FOSUser/Group/show_content.html.twig" %}
    <h3>
        Users
    </h3>
    <ul>
        {% for user in group.users %}
            <li>
                {{ user }}
            </li>
        {% endfor %}
    </ul>
    <h3>
        Roles
    </h3>
    <ul>
        {% for role in group.roles %}
            <li>
                {{ role }}
            </li>
        {% endfor %}
    </ul>
    <ul>
        <li>
            <a href="{{ path('fos_user_group_list') }}">Spowrotem do listy</a>
        </li>
        <li>
            <a href="{{ path('fos_user_group_edit', {'groupName':  group.getName()}) }}"><button>Edit</button></a>
        </li>

    </ul>

{% endblock fos_user_content %}
