.urlop_day {
    height : 40px;
    background-color: lightgreen;
}

.godz_przyj_aktywna {
    font-size : medium;
    color : black;
    background-color : orange;
}

.godz_przyj_nieaktywna {
    background-color : #99979c;
}

.wizyta_pacjent {
    background-color: lightskyblue;
}

.wizyta_lekarz {
    background-color: lightcoral;
}

.wizyta_list {
    background-color: royalblue;
}

.my_calendar {

}

.my_class {
}