.urlop_day {
    height : 40px
}

.godz_przyj_aktywna {
    font-size : medium;
    color : black;
    background-color : yellow;
}

.godz_przyj_nieaktywna {
    background-color : #99979c;
}

.my_calendar {

}

.my_class {
}